li a {
    align-items: center;
    display: flex;
    justify-content: center ;
    padding: 16x 24px;
     
    border-width: 1px;
    border-style: solid;
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    background-color: var(--surface-color);

    text-decoration: none;
    font-weight: bold;

}
li a:hover {
    background-color: var(--surface-color-hover);
    border-color: var(--text-color);
}