#Swicht {
  position: relative;
  width: 64px;
  margin: 4px auto;

  &button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background-color: #fff;
    background-image: var(--swicht-bg-url);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(-50%);
    animation: slide-out;
  }
  &button:houver {
    outline: 8px solid var(--stoke-);
  }
  & span {
    display: block;
    width: 64;
    height:24;
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 999px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    }

  }
.Light #Swicht button{
    animation:slide-in 0.2 forwards;
}
/*animação*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
