#Perfil{
    text-align: center;
    padding: 24px;

    & img{
        border-radius: 50%;
        border-style: solid;
        border-color: rgba(146,146,146,0.8);
        width: 112px;
        height: 112px;
        object-fit: cover;
        border-radius: 50%;
    }

    
}