.movie{
    inline-size: 310px;
    block-size: 460px;
    margin: 1.5rem;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 0px 13px 10px -7px var(--shadow-color);
    border-radius: 10px;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    /* Estadomnao passar o mouse por cima do bloco "MovieCard" */
    &:hover{
        transform: scale(1.05);
    }
}