
:root{ /*variaveis de css no tema original projetado = light*/
 --font-raleway: "Raleway", sans-serif;
 --bg-primary: #f5f5f5f5
 --text-primary: #333;
--text-secondary: #666;
--bg-secondary:#ffffff;
--text-placeholder: #a1a1a1;
--accent-color: #ff6b6b;
--shadow-color: rgba(0,0,0,0.1);
--shadow:0px 2px 8px var(--shadow-color);
}

body{
  font-family: var(--font-raleway);
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: 
  background-color 0.3s ease, color 0.3s ease;
}

#App{
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Logo{
 max-width: 70%; 
 overflow: hidden;

 height: auto;
  display: block;
  margin: auto;

 }



 

/*dark*/
@media (prefers-color-scheme: dark){
  :root{
  --bg-primary: #212426;
  --bg-secondary:#343739;
 --text-primary: #f5f5f5;
--text-secondary: #f0f0f0;
--text-placeholder: #a1a1a1;
--accent-color: #ffa500;
--shadow-color: rgba(0,0,0,0.4);
--shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  }
}

.search{
  width: 70%;
  margin: 4em 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.75rem;
  border-radius: 4rem;
  background: var(--bg-secondary);
  box-shadow: var(--shadow);
  --webkit-box-shadow:var(--shadow);
  transition: all 0.3s ease;

  & input{
    flex: 1;
    border: none;
    padding-right: 1rem;
    outline: none;
    color: var(--text-primary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    font-weight: 500;
    
    transition: all 0.3s ease
  }


  & input:placeholder{
    color:var(--text-placeholder) ;
  }


  & img{
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}