/* PÁGINA */
.login-page{

  width: 100%;

  height: 100vh;

  background: #1B2838;

  display: flex;

  justify-content: center;

  align-items: center;
}


/* CARD */
.login-card{

  width: 350px;

  background: #0f1923;

  padding: 40px;

  border-radius: 15px;

  display: flex;

  flex-direction: column;

  gap: 20px;
}


/* TÍTULO */
.login-card h1{

  color: white;

  text-align: center;
}


/* TEXTO */
.login-card p{

  color: #9fb4c7;

  text-align: center;
}


/* INPUT */
.login-card input{

  height: 45px;

  border: none;

  outline: none;

  border-radius: 8px;

  padding-left: 15px;

  background: #2a475e;

  color: white;
}


/* BOTÃO */
.login-card button{

  height: 45px;

  border: none;

  border-radius: 8px;

  background: #66c0f4;

  color: white;

  font-weight: bold;

  cursor: pointer;
}